@tailwind base;
@tailwind components;
@tailwind utilities;

.z-100 {
  z-index: 100;
}

.svg-inline--fa {
  min-width: 24px;
}

@layer components {
  .m-title {
    @apply font-extrabold text-gray-900 dark:text-white tracking-tight
  }

  .m-text {
    @apply text-gray-900 dark:text-white
  }

  .m-border {
    @apply border border-gray-300 dark:border-gray-600
  }

  .header-dropdown-wrapper {
    @apply p-2 mr-1 text-gray-500 rounded-lg
    hover:text-gray-900 hover:bg-gray-100
    dark:text-gray-400 dark:hover:text-white
    dark:hover:bg-gray-700 focus:ring-4
    focus:ring-gray-300 dark:focus:ring-gray-600;
  }
}

/** overwrite */
.h-modal.bg-gray-900 {
  --tw-bg-opacity: .5 !important;
}

.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}

/* Apply this only for mobile screens */
@media (max-width: 768px) {
  .mobile-glimpse {
    position: relative;
    overflow-x: hidden;
  }

  /* Trigger the sliding animation on page load */
  .mobile-glimpse::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 10;
  }

  #tab-list {
    animation: slideGlimpse 4s ease-in-out forwards;
  }

  @keyframes slideGlimpse {
    0% {
      transform: translateX(0);
    }
    30% {
      transform: translateX(-40px); /* Adjust to show hidden part of tabs */
    }
    60% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.datatable-wrapper .datatable-input, .datatable-wrapper .datatable-search .datatable-input {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: .5rem;
  color: #111827;
  font-size: .875rem;
  min-width: 16rem;
}

.datatable-wrapper .datatable-top .datatable-dropdown {
  color: #6b7280;
  font-size: .875rem;
}

table thead th {
  position: relative;
  cursor: pointer;
}

table thead th::after {
  margin-left: 10px;
  color: #6b7280; /* Adjust the color as per your design */
}

table thead th.datatable-ascending::after {
  content: '▲'; /* Ascending */
}

table thead th.datatable-descending::after {
  content: '▼'; /* Descending */
}
